/**SIMPLE THEME BACK END MOS**/
/*Desainer		: Ari Rusmanto*/
/*Email			: hello@arirusmanto.com*/
/*YM			: ariecupu@ymail.com*/
/*Official Site	: arirusmanto.com*/
body {
    background: url(../img/latar.jpg);
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    color: #2e2e2e;
    text-align: center;
}
.clear {clear: both;}
a:hover {color: #000;}


table.data {border: 1px solid #dcdcdc; margin: 10px 0px 20px 0px; width: 97%; border-collapse: collapse;font-size: 12px;}
th.data {padding: 8px 4px 8px 4px;border: 1px solid #dcdcdc; background: url(../img/green.jpg)repeat left center;text-shadow: 1px 0px #003362;color: #fff }
td.data {padding: 4px; border: 1px solid #dcdcdc;color: #5b5b5b;vertical-align: top;}
tr.data {background: #fff}
tr.data:hover {background: #feffdc;}
tr.data small a{color: #fff;}
tr.data small{color: #fff;}
tr.data:hover small a{color: #527e19;}
tr.data:hover small a:hover{color: #000;}
tr.data:hover small {color: #5b5b5b;}		
.quoteOfDay {
    border: 1px solid #cbe0b5;
    background: #f7ffe8 url(../img/daun.png) no-repeat left center;
    float: left;
    width: 640px;
    padding: 10px 10px 10px 70px;
    min-height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
}

.gagal {
    border: 1px solid #e78686;
    background: #ffe1e1 url(../img/gagal.png) no-repeat left center;
    float: left;
    width: 640px;
    padding: 15px 10px 15px 50px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
    color: #e78686;
}
.informasi {
    border: 1px solid #86afe7;
    background: #e7f1ff url(../img/informasi.png) no-repeat left center;
    float: left;
    width: 640px;
    padding: 15px 10px 15px 50px;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
    color: #86afe7;
}
#header {
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: url(../img/headerbg.jpg) repeat left;
    height: 75px;
    z-index: 1000;
    -moz-box-shadow: 0px 0px 8px #dcdcdc;
    -webkit-box-shadow: 0px 0px 8px #dcdcdc;
}
.inHeader {
    float: center;
    background: url(../img/logo.png) no-repeat left center;
    margin: auto;
    width: 920px;
    height: 45px;
    padding: 15px;
    border-right: 0px solid #dcdcdc;
    border-left: 0px solid #dcdcdc;
}

.mosAdmin {
    float: right;
    border: 0px solid #dcdcdc;
    margin: 0 1px 0 auto;
    text-align: right;
    padding: 10px 40px 10px 10px;
    background: url(../img/Administrator.png) no-repeat right center;
    text-shadow: 1px 1px #fff;
}

#wrapper {
    width: 90%;
    padding: 15px 0 0 0;
    position: relative;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    margin: auto;
    min-height: 620px;
    text-align: left;
    background: #fff url(../img/bg_kiri.png) repeat-y;
    -moz-box-shadow: 0px 0px 8px #dcdcdc;
    -webkit-box-shadow: 0px 0px 8px #dcdcdc;
}
#leftBar {
    width: 185px;
    float: left;
    padding: 0 0 20px 10px;
    border-right: 0px solid #dcdcdc;
    text-align: left;
}

#leftBar ul li {
   
    background: url(../img/icon-left.png) no-repeat left center, url(../img/green.jpg) repeat left center;
 
    border: 1px solid #dcdcdc;
    -moz-border-radius-topleft: 8px;-moz-border-radius-bottomleft: 8px;
    -webkit-border-top-left-radius: 8px;-webkit-border-bottom-left-radius: 8px;
    -o-border-top-left-radius: 8px;-o-border-bottom-left-radius: 8px;
}
#leftBar ul li a {
    width: 100%;
    color: #2e2e2e;
    cursor: pointer;
    padding: 10px 65px 10px 25px;
    -webkit-transition: padding-left 250ms ease-out;
    -moz-transition: padding-left 250ms ease-out;
    -o-transition: padding-left 250ms ease-out;
}
#leftBar ul li a:hover {
    padding-left: 30px;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px #496d2a;
}
#rightContent {
    width: 80%;
    padding: 5px;
    float: right;
    border-left: 0px solid #dcdcdc;
    text-align: left;
    background: #fff;
}
#frm_rejectOrder{
    display: inline-block;
    margin-right: 20px;
}
#frm_acceptOrder{
    display: inline-block;
}
